.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 5px 10px;
  border-width: 5px;
}

.left-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
}
@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.emoji-picker-wrapper {
  position: absolute;
  bottom: calc(100% + 5px); /* Adjust this if necessary to create a gap */
  left: 0; /* Align with the icon button */
  z-index: 1000;

  width: auto; /* Width can be adjusted, or use '200px' in inline styles */
  max-width: 200px; /* Maximum width of the emoji picker */
  border: 1px solid #eee; /* Optional aesthetic */
  border-radius: 5px; /* Optional aesthetic */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Optional aesthetic */
}